//
   Created by DENIS on 08/04/2017.

extends ../layout.jade

block content
    h2 Login
    form(class='pure-form pure-form-stacked')
        input(id='username' placeholder='Username' type='text')
        input(id='password' placeholder='Password' type='password')
        button(id='submit' type='submit') Login