doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#wrapper
      - currentPoll = '';

      div(class='pure-menu pure-menu-horizontal menu')
        a(class='pure-menu-link pure-menu-heading company-logo' href='/home')
          img(src='/images/poll-position-logo.png')
        ul(class='pure-menu-list')
          //li(class='pure-menu-item')
          //  a(class='pure-menu-link' href='/home') Home
          li(class='pure-menu-item')
            a(class='pure-menu-link' href='/login') Login
          li(class='pure-menu-item')
            a(class='pure-menu-link' href='/register') Register
          li(class='pure-menu-item')
            a(class='pure-menu-link' href='/user/account') My Account
          li(class='pure-menu-item')
            a(class='pure-menu-link' href='/user/polls') My Polls

      block content
