body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.company-logo
  width: 86px
  img
    width: 100%
    
.company-logo:hover
  background-color: transparent
  cursor: pointer