navHeight = 60px
logoHeight = 40px
logoWidth = 150px
backgroundColourLight = #E9E9E9
fontSizeGeneral = 30px

//general styles
.hidden
  display: none !important
ul
  list-style-type: none
  margin: 0
  padding: 0
a
  color: #605F5F
  text-decoration: none
a:hover
  color: #909090

body
  font-family: 'PT Sans', sans-serif
  font-size: fontSizeGeneral
  margin: 0
  padding: 0
  background: url('/images/concrete_seamless.png')
  //background: url('/images/stardust.png')
  //background: url('/images/tweed.png')

#wrapper-form
  text-align: center
  //width: 100%

#wrapper-home
  text-align: center

#site-nav
  background: #FFFFFF
  height: navHeight
  text-align: center
  //padding: 0 500px

#site-nav > *
  line-height: navHeight
  vertical-align: middle
  //position: relative
  //top: 50%
  //transform: translateY(-50%)

.company-logo
  display: inline-block
  font-size: 0
  img
    width: logoWidth
    height: logoHeight
    vertical-align: middle
  span
    font-size: fontSizeGeneral
    margin-left: 30px
    vertical-align: middle

.company-logo:hover img
  opacity: 0.8


.nav-links
  display: inline-block
  margin-left: 400px
  //float: right
  //position: relative
  //top: 50%
  //transform: translateY(-50%)
  li
    display: inline-block
    margin-left: 20px
    
.company-logo:hover
  //background-color: transparent
  cursor: pointer

form.pure-form.pure-form-stacked
  input, select, textarea
    margin: 10px auto
    width: 300px

.polls-table div
  padding: 10px

form
  input, textarea, select
    display: block
    //margin-right: 10px
    //width: auto

textarea
  min-height: 150px
  resize: vertical

.poll
  label:hover
    cursor: pointer

table
  margin: 10px auto 20px auto
  td
    text-align: left

table.poll-report-table
  td:last-of-type
    text-align: right

table.poll-table tr:hover, table.poll-table input:hover
  cursor: pointer


.button-create
  background-color: rgb(0, 153, 51)
.button-delete
  background-color: rgb(202, 60, 60)
.button-delete:hover
  background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))

.button-report, .button-live
  background-color: rgb(66, 184, 221)
.button-report:hover, .button-live:hover
  background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))



// Mobile styling

@media(max-width: 600px)
  form
    width: 100%

  form.pure-form.pure-form-stacked.create-poll-form
    input, select, textarea
      width: 90%
  table.polls-table, table.poll-info
    width: 90%

#poll-options input
  margin: 0 auto
#question-adder
  text-align: center
#question-adder *
  margin: 0 auto
form
  text-align: center
#questions
  textarea, input
    margin: 0 auto

form.poll-vote input
  display: inline-block
form.poll-vote select, textarea
  margin: 0 auto
  width: 300px

.button-report, .button-live, .button-delete, .button-create
  color: white
  border-radius: 5px
  padding: 10px 10px 10px 10px
  vertical-align: middle

#question-adder
  margin-top: 50px
#question-adder label
  display: block
#question-adder input, select, textarea
  //display: inline-block !important
  //margin-left: 20px

.question[data-type] label
  display: block

form.poll-vote h3
  margin-bottom: 10px

.create-poll-form
  input
    width: 300px

#header-image img
  width: 100%