.hidden {
  display: none !important;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: #605f5f;
  text-decoration: none;
}
a:hover {
  color: #909090;
}
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  margin: 0;
  padding: 0;
  background: url("/images/concrete_seamless.png");
}
#wrapper {
  width: 100%;
}
#site-nav {
  background: #fff;
  height: 60px;
  text-align: center;
}
#site-nav > * {
  line-height: 60px;
  vertical-align: middle;
}
.company-logo {
  display: inline-block;
  font-size: 0;
}
.company-logo img {
  width: 150px;
  height: 40px;
  vertical-align: middle;
}
.company-logo span {
  font-size: 30px;
  margin-left: 30px;
  vertical-align: middle;
}
.company-logo:hover img {
  opacity: 0.8;
}
.nav-links {
  display: inline-block;
  margin-left: 400px;
}
.nav-links li {
  display: inline-block;
  margin-left: 20px;
}
.company-logo:hover {
  cursor: pointer;
}
.template {
  display: none;
}
form.pure-form.pure-form-stacked input,
form.pure-form.pure-form-stacked select,
form.pure-form.pure-form-stacked textarea {
  margin: 10px auto;
  width: 300px;
}
form.pure-form.pure-form-stacked.poll input,
form.pure-form.pure-form-stacked.poll textarea {
  margin-right: 10px;
  width: auto;
}
textarea {
  min-height: 150px;
  resize: vertical;
}
.poll label:hover {
  cursor: pointer;
}
table {
  margin: 10px auto 20px auto;
}
table td {
  text-align: left;
}
table.poll-report-table td:last-of-type {
  text-align: right;
}
table.poll-table tr:hover,
table.poll-table input:hover {
  cursor: pointer;
}
.button-delete {
  background-color: #ca3c3c;
}
.button-delete:hover {
  background-image: linear-gradient(transparent, rgba(0,0,0,0.05) 40%, rgba(0,0,0,0.1));
}
.button-report,
.button-live {
  background-color: #42b8dd;
}
.button-report:hover,
.button-live:hover {
  background-image: linear-gradient(transparent, rgba(0,0,0,0.05) 40%, rgba(0,0,0,0.1));
}
@media (max-width: 600px) {
  form {
    width: 100%;
  }
  form.pure-form.pure-form-stacked.create-poll-form input,
  form.pure-form.pure-form-stacked.create-poll-form select,
  form.pure-form.pure-form-stacked.create-poll-form textarea {
    width: 90%;
  }
  table.polls-table,
  table.poll-info {
    width: 90%;
  }
}
