body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#wrapper {
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
}
.company-logo {
  width: 86px;
}
.company-logo img {
  width: 100%;
}
.company-logo:hover {
  background-color: transparent;
  cursor: pointer;
}
form.pure-form.pure-form-stacked input,
form.pure-form.pure-form-stacked select,
form.pure-form.pure-form-stacked textarea {
  margin: 10px auto;
  width: 300px;
}
form.pure-form.pure-form-stacked.poll input,
form.pure-form.pure-form-stacked.poll textarea {
  margin-right: 10px;
  width: auto;
}
textarea {
  min-height: 150px;
  resize: vertical;
}
.poll label:hover {
  cursor: pointer;
}
table {
  margin: 10px auto 20px auto;
}
table td {
  text-align: left;
}
table.poll-report-table td:last-of-type {
  text-align: right;
}
table.poll-table tr:hover,
table.poll-table input:hover {
  cursor: pointer;
}
.button-delete {
  background-color: #ca3c3c;
}
.button-delete:hover {
  background-image: linear-gradient(transparent, rgba(0,0,0,0.05) 40%, rgba(0,0,0,0.1));
}
.button-report,
.button-live {
  background-color: #42b8dd;
}
.button-report:hover,
.button-live:hover {
  background-image: linear-gradient(transparent, rgba(0,0,0,0.05) 40%, rgba(0,0,0,0.1));
}
@media (max-width: 600px) {
  form {
    width: 100%;
  }
  form.pure-form.pure-form-stacked.create-poll-form input,
  form.pure-form.pure-form-stacked.create-poll-form select,
  form.pure-form.pure-form-stacked.create-poll-form textarea {
    width: 90%;
  }
  table.polls-table,
  table.poll-info {
    width: 90%;
  }
}
