//
   Created by DENIS on 09/04/2017.

extends ../templates/layout-form


block content
    - var dateNow = new Date().toString()
    - dateNow = dateNow.slice(0, dateNow.indexOf('(') - 1)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js')
    script(src='/javascripts/questionAdder.js')
    script(src='/javascripts/create-poll.js')
    h2 New poll
    p= message
    form(action='/poll/create' class='create-poll-form' method='post')
        div#poll-options
            input(id='pollName' name='pollName' placeholder='Poll name' required type='text')
            input(id='startTime' name='startTime' placeholder='Start time' required type='text' value=dateNow)
            input(id='endTime' name='endTime' placeholder='End time' type='text')
        div#questions
        div#question-adder
            label
                span Type
                select#question-type
                    option(value='tf' selected) True/false
                    option(value='mc') Multiple choice
                    option(value='dd') Dropdown
                    option(value='sa') Short answer
            label#number-of-options.hidden
                span Number of options
                //input(pattern='^[1-9][0]{0,1}$' type='text' value='1')
                input(pattern='^[1-9][0]{0,1}$' type='number' step='1' min='1' max='10' value='1')


            button#add-question(type='button') Add question

        // question templates
        div#template-tf.template(data-order='{{order}}' data-type='tf')
            label
                span Question
                textarea(placeholder='Question text')
            label
                span True
                input(type='text')
            label
                span False
                input(type='text')
        div#template-mc.template(data-order='{{order}}' data-type='mc')
            label
                span Question
                textarea(placeholder='Question text')
            | {{#iterate ./numberOfOptions}}
            label
                span Option {{index}}
                input(type='text')
            | {{/iterate}}
        div#template-dd.template(data-order='{{order}}' data-type='dd')
            label
                span Question
                textarea(placeholder='Question text')
            | {{#iterate ./numberOfOptions}}
            label
                span Option {{index}}
                input(type='text')
            | {{/iterate}}
        div#template-sa.template(data-order='{{order}}' data-type='dd')
            label
                span Question
                textarea(placeholder='Question text')
        //textarea(id='title' name='title' placeholder='Title' required type='text')
        //input(class='tf-input' id='true' name='true' placeholder='True option text' required type='text')
        //input(class='tf-input' id='false' name='false' placeholder='False option text' required type='text')
        //input(class='mc-input' disabled hidden name='option1' placeholder='Option 1' type='text')
        //input(class='mc-input' disabled hidden name='option2' placeholder='Option 2' type='text')
        //input(class='mc-input' disabled hidden name='option3' placeholder='Option 3' type='text')
        //input(class='mc-input' disabled hidden name='option4' placeholder='Option 4' type='text')
        //
        //p
        //    strong Time format: &nbsp
        //    =dateNow
        button(class='pure-button pure-button-primary' id='submit' type='submit') Create poll