//
   Created by DENIS on 08/04/2017.

extends ../templates/layout

block content
    h2 Poll Position
    p
        if session.user
            |Welcome back,&nbsp
            =session.user.username
            |!
        else
            a(href='/register') Sign up
            |  for an account and start creating polls!
