//
   Created by DENIS on 08/04/2017.

//div= currentPoll.options.length
//h3= currentPoll.title
//ul
//    each option in currentPoll.options
//        li
//            label
//                input(type='radio')
//                span= option.name