//
   Created by DENIS on 08/04/2017.

extends ../layout

block content
    h2 My Polls
    a(href=`/poll/create`) Create
    ul
        each poll in polls
            li
                h3= poll.title
                ul
                    li
                        a(href=`/poll/report/${poll.uniqueID}`) Report
                    li
                        a(href=`/poll/vote/${poll.uniqueID}`) Live link



