//
   Created by DENIS on 08/04/2017.

extends ../templates/layout

block content
    h2 My Polls
    p= message
    a.button-create(href='/poll/create') Create
    table.pure-table.polls-table
        tbody
            each poll in polls
                tr
                    td
                        span= poll.title
                    td
                        div
                            a.pure-button.button-report(href='/poll/report/' + poll['_id'].toString()) Report
                    td
                        div
                            a.pure-button.button-live(href='/poll/vote/' + poll['_id'].toString()) Live link
                    td
                        div
                            a.pure-button.button-delete(href='/poll/delete/' + poll['_id'].toString()) Delete
                    //td
                    //    a.pure-button(href='/poll/info/' + poll['_id'].toString()) Info