//
   Created by DENIS on 08/04/2017.

extends ../templates/layout

block content
    h2 My Polls
    p= message
    a.pure-button.pure-button-primary(href='/poll/create') Create
    table.pure-table
        tbody
            each poll in polls
                tr
                    td
                        span= poll.title
                    td
                        a.pure-button.button-report(href='/poll/report/' + poll.uniqueID) Report
                    td
                        a.pure-button.button-live(href='/poll/vote/' + poll.uniqueID) Live link
                    td
                        a.pure-button.button-delete(href='/poll/delete/' + poll.uniqueID) Delete
                    td
                        a.pure-button(href='/poll/info/' + poll.uniqueID) Info